<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Home</title>
  </head>
  <body>
    <% if user_signed_in? == false %>
      <div class="main-content bg-splash text-center">
        <div class="bg-container">
          <img class="bg-image" src="<%= asset_path('tvtrack_bg10.jpg') %>"/>
          <div class="bg-overlay">
            <p class="text-center title">TV Tracker</p>
            <p>Keep tabs on all your favorite shows!</p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning home_but"%>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-warning home_but right"%>
          </div>
        </div>
        <div id="sec-one" class="section-container">
          <div>
            <p id="title">Collections</p>
            <p id="info">
              The collection tab makes it easy to view the entire group of shows that you're
              keeping track of in a neat grid form.
            </p>
          </div>
          <div>
            <img class="collection-img" src="<%= asset_path('collection-img.png') %>"/>
          </div>
        </div>
        <div id="sec-two" class="section-container">
          <div>
            <img class="sched-img" src="<%= asset_path('sched-img.png') %>"/>
          </div>
          <div>
            <p id="title">What's on?</p>
            <p id="info">
              If you want to know what's airing this week, not to worry! The schedule tab ensures that
              you don't forget about that new season premiere.
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="main-content welcome text-center">
        <p class="heading">Popular TV Shows...</p><br />
        <div id="popular">
          <% for i in 0..9 %>
            <div class="popular-show">
                <img />
                <div id="text-cont">
                  <p id="add-popular">Add</p>
                </div>
            </div>
          <% end %>
        </div>
        <div id="added-msg-cont">
        </div>
      </div>
    <% end %>
  </body>
</html>
