<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Home</title>
  </head>
  <body>
    <div class="home text-center">
      <% if user_signed_in? == false %>
        <h1 class="text-center title">TV Tracker</h1>
        <h5>Keep tabs on all your favorite shows and never forget to catch the latest episodes!</h5>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning home_but"%>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-warning home_but right"%>
      <% else %>
        <p class="text-center dash">Where would you like to go?</p><br />
          <div class="boxes">
            <div class="container">
                <%= link_to "/search" do %>
                  <div class="jumbotron">
                    <p>Search</p>
                  </div>
                <% end %>
            </div>
            <div class="container">
              <%= link_to "/dashboard" do %>
                <div class="jumbotron">
                  <p>Dashboard</p>
                </div>
              <% end %>
            </div>
            <div class="container">
              <%= link_to "/" do %>
                <div class="jumbotron">
                  <p>Fancy Stats</p>
                </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </body>
</html>
