<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Home</title>
  </head>
  <body>
    <% if user_signed_in? == false %>
      <div class="main-content bg-splash text-center">
        <div class="bg-container">
          <img class="bg-image" src="<%= asset_path('tvtrack_bg10.jpg') %>"/>
          <div class="bg-overlay">
            <p class="text-center title">TV Tracker</p>
            <p>Keep tabs on all your favorite shows!</p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning home_but"%>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-warning home_but right"%>
          </div>
        </div>
        <div id="sec-one" class="section-container">
          <div>
            <p id="title">Collections</p>
            <p id="info">
              The collection tab makes it easy to view the entire group of shows that you're
              keeping track of in a neat grid form.
            </p>
          </div>
          <div>
            <img class="collection-img" src="<%= asset_path('collection-img.png') %>"/>
          </div>
        </div>
        <div id="sec-two" class="section-container">
          <div>
            <img class="sched-img" src="<%= asset_path('discover-img.png') %>"/>
          </div>
          <div>
            <p id="title">Discover</p>
            <p id="info">
              If you're looking for something new to watch, the discover section lets you know
              what's currently trending. Not only that, but it also uses your current collection
              to suggest shows you might also enjoy.
            </p>
          </div>
        </div>
        <div id="sec-three" class="section-container">
          <div>
            <p id="title">What's on?</p>
            <p id="info">
              If you want to know what's airing this week, not to worry! The schedule tab ensures that
              you don't forget about that new season premiere.
            </p>
          </div>
          <div>
            <img class="sched-img" src="<%= asset_path('sched-img.png') %>"/>
          </div>
        </div>
      </div>
    <% else %>
      <div class="main-content welcome text-center">

        <!-- for popular shows -->
        <p class="heading">Popular</p>
        <div id="popular" class="home-subsections">
          <% for i in 0..1 %>
            <div class="main-display discover-item">
                <img />
                <div id="text-cont">
                  <p id="add-show">Add</p>
                </div>
                <p id="sh-name"></p>
            </div>
          <% end %>
          <% for i in 0..2 %>
            <div class="small-display discover-item">
                <img />
                <div id="text-cont">
                  <p id="add-show">Add</p>
                </div>
            </div>
          <% end %>
        </div>

        <!-- for suggested shows (only if the user has some in their collection) -->
        <% if @selectedShow != nil %>
          <div id="suggested" class="home-subsections">
            <div id="randomized-cont">
              <p class="heading">Since you enjoy...</p>
              <div id="randomized">
                <img src="<%= @selectedShow.poster %>" id="<%= @selectedShow.shid %>"/>
              </div>
            </div>
            <div id="show-divider"></div>
            <div id="suggested-cont">
              <p class="heading">You might want to check out: </p>
              <div id="suggested-list">
                <% for i in 0..5 %>
                  <div class="recco-display discover-item">
                      <img />
                      <div id="text-cont">
                        <p id="add-show">Add</p>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        <!-- for shows currently airing -->
        <% else %>
          <p class="heading">Currently airing</p>
          <div id="airing" class="home-subsections">
            <% for i in 0..1 %>
              <div class="main-display discover-item">
                  <img />
                  <div id="text-cont">
                    <p id="add-show">Add</p>
                  </div>
                  <p id="sh-name"></p>
              </div>
            <% end %>
            <% for i in 0..2 %>
              <div class="small-display discover-item">
                  <img />
                  <div id="text-cont">
                    <p id="add-show">Add</p>
                  </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <div id="added-msg-cont">
        </div>
      </div>
    <% end %>
  </body>
</html>
