<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Home</title>
  </head>
  <body>
    <% if user_signed_in? == false %>
      <div class="main-content bg-splash text-center">
        <div class="bg-container">
          <img class="bg-image" src="<%= asset_path('tvtrack_bg10.jpg') %>"/>
          <div class="bg-overlay">
            <p class="text-center title">TV Tracker</p>
            <p>Keep tabs on all your favorite shows!</p>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-warning home_but"%>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-warning home_but right"%>
          </div>
        </div>
      </div>
    <% else %>
      <div class="main-content welcome text-center">
        <p class="text-center dash">Where would you like to go?</p><br />
          <div class="boxes">
            <div class="container">
                <%= link_to "/search" do %>
                  <div class="jumbotron">
                    <p>Search</p>
                  </div>
                <% end %>
            </div>
            <div class="container">
              <%= link_to "/dashboard" do %>
                <div class="jumbotron">
                  <p>Dashboard</p>
                </div>
              <% end %>
            </div>
            <div class="container">
              <%= link_to "/" do %>
                <div class="jumbotron">
                  <p>Fancy Stats</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </body>
</html>
