<!DOCTYPE html>
<html>
  <head>
    <title>TvTracker</title>
    <link rel="icon" href="<%= asset_path('favicon.ico')%>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway', type='text/css'%>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', type='text/css'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <body>
    <% if user_signed_in? %>
      <div class="header text-center">
        <div class="header-container">
          <%= link_to home_path do %>
            <div><img class="logo" src="<%= asset_path('logo.png')%>"></img></div>
          <% end %>

          <div class="side-links">
            <%= link_to about_path, class: 'header-links' do %>
              <p>My Account</p>
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete, class: 'header-links' do %>
              <p class="log-out-link">Log out</p>
            <% end %>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-container">
          <!-- all temporarily point to about page  -->
          <%= link_to about_path, class: 'footer-links' do %>
            <p>About</p>
          <% end %>

          <%= link_to about_path, class: 'footer-links' do %>
            <p>News</p>
          <% end %>

          <%= link_to about_path, class: 'footer-links' do %>
            <div><p>Attributions</p></div>
          <% end %>
        </div>
      </footer>

    <% end %>

    <%= yield %>
  </body>
</html>
